.section__five {
  min-height: 100vh;
}

.section__five h1 {
  font-size: 1.9rem;
  font-weight: 600;
}

.section__five p {
  font-weight: 300;
  font-size: 1.05rem;
}

.section__five--image-galery {
}
