.section__one {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__one-container-1 h1 {
  font-size: 2.9rem;
  font-weight: bold;
}
.section__one-container-1 h5 {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(114, 114, 114);
}
.section__one-container-2 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.video__container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__one-container-2-imgs {
  /* background-color: red; */
  position: absolute;
  height: 100%;
  width: 100%;
}

.section__one-container--2-imgs-header {
  width: 90%;
  height: 50%;
  margin: auto;
}

.section__one-container--2-imgs-footer {
  width: 90%;
  height: 50%;
  margin: auto;
  /* background-color: pink; */
}

.section__one-container--2-imgs-footer img {
  height: 60%;
}

.video__container video {
  position: absolute;
  height: 85%;
}
