body {
  font-family: "Lato", sans-serif;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
}

.btn__purple {
  background-color: #8b3dff;
  color: white;
  font-weight: 500;
}

.btn__light {
  background-color: #f2f3f5;
  color: black;
  font-weight: 500;
}
