.section__three {
  position: relative;
  overflow: hidden;
}

.section__three-body {
  position: relative;
  height: 100%;
  width: 100%;
}
.section__three-body h1 {
  font-size: 2rem;
  font-weight: 600;
}
